.background{
    background-color: #87CEEB;
}

html{
    scroll-behavior: smooth;
}

a:hover{
    color: purple;
    margin: 10px;
    font-size: 30px;
}

nav button:active{
    background-color: purple;
}

body {
    width: 1400px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}

header{
    position: sticky;
    top: 0;
    z-index: 2;
}

.main-heading {
    text-align: center;
}

.main-heading h1{
    display: inline;
    vertical-align: top;
    margin-right: 10px;
}

.main-heading img{
    border-radius: 50px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
}

nav button {
    height: 50px;
    width: 60px;
    font-size: medium;
}

h2{
    font-size: 30px;
}

#contact-form{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.section-with-background h3::first-letter{
    color: purple;
}

#contact-form label, input, select{
    font-size: 25px;
    margin-right: 10px;
}

textarea{
    resize: none;
    width: 250px;
    height: 200px;
}

fieldset{
    display: flex;
    align-content: center;
    align-items: center;
}

legend{
    font-size: 20;
    font-style: italic;
}

.section-with-image{
    margin-top: 10px;
    border-top: 2px solid gray;
    padding-bottom: 40px;
    border-bottom: 2px solid gray;
}

.section-with-text{
    padding-bottom: 20px;
    border-bottom: 2px solid gray;
}

.section-with-background{
    margin-top: 10px;
    padding-bottom: 10px;
    position: relative;
    border-bottom: 2px solid gray;
    overflow: hidden;
}

.section-with-background ol{
    position: relative;
}

.image-background{
    background: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 95%;
    opacity: 0.5;
    z-index: -3;
}

.tabbed{
    padding-left: 50px;
}

.list{
    margin: 0 0 0 0;
}

.sublist{
    margin: 0;
    padding: 0 0 0 20px;
    font-style: italic;
}

.update-info{
    border: 2px dashed black;
    padding: 50px;
    padding-bottom: 30px;
    font-size: larger;
}

.update-info ul{
    width: 300px;
}

.update-info li:nth-child(1) span{
    background-color: rgba(128, 0, 128, 0.2);
}

.quote-phrase{
    font-style: italic;
}

.quote-name{
    font-weight: bold;
}

.line-content{
    display: flex;
    margin: 0 0 0 0;
    justify-content: space-evenly;
}

.line-element{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: small;
}

.line-element p{
    margin-right: 20px;
    margin-left: 5px;
}

.line-element input{
    height: 15px;
}

.contact-area h2{
    margin: 20px 0 20px 0;
}

.contact-area button{
    margin-top: 10px;
    font-size: large;
}

footer{
    margin-top: 40px;
}

footer h3{
    text-align: center;
}

footer a{
    font-size: medium;
    margin: 0 10px 0 10px;
}

.socials{
    width: 400px;
}

#promo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#promo p{
    height: 100%;
    width: 15%;
    font-weight: normal;
    font-size: large;
}   

#promo img{
    width: 400px;
}

.contact-area{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#contact-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    body{
        width: 700px;
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    body{
        width: 700px;
        font-size: 15px;
    }
}